<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>VS Dental College</title>
    <link rel="stylesheet" href="/css/main_style.css">
    <link rel="shortcut icon" href="#" type="image/svg+xml">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/popup_styles.css">
</head>
<body>
    <section class="header">
        <nav>
            <a href="/"><img src = 'image/VSDC-Logo.png' class = 'logo'></img></a>
            <div class="nav-links" id="navLinks">
                <span class="icon" onclick="hidemenu()">&#10005;</span>
                <ul>
                    
                    <li><a href="/facultyregister">Faculty Register</a></li>
                    <li><a href="/studentregister">Student Register</a></li>
                    <li><a href="#course_call">Course</a></li>
                    <li><a href="fees_page.html">Fees</a></li>
                    <li><a href="Contact_page.html">Contact</a></li>
                </ul>
               
            </div> 
            <div class="mobile-buttons">
                <a href="/studentregister" class = 'reglink'>Students</a>
                <a href="/facultyregister" class = 'reglink'>Faculty</a>
            </div>
            <span class="icon" onclick="showmenu()">&#9776;</span>
        </nav>
        
        <div class="logo-box" style="top:90px">
            <img class = 'logo' src = 'image/IDA-Logo.png' alt = 'IDA-Logo'/>
            <img class = 'logo' src = 'image/KSDC-Logo.png' alt = 'KSDC-Logo'/>
            
        </div>
        <div class="text-box" style="top:90px">
            <h1>Dentist Convention 2024</h1>
            <p style="font-weight: bold;font-size: 16px;">Empowering Minds, Shaping Futures<br/><br/><i class="fa-solid fa-location-dot" style="font-size: 12px;"></i> Kuvempu Kalashetra<br>
                Vokkaligara Sangha Dental College , V.V.Puram, Bengaluru - 560 004<br/><br/><i class="fa-regular fa-calendar-days"></i> <b>20th Saturday, July 2024</b></p>
                <!-- <div class="popup date">
                    Date: 20th Saturday, July 2024
                </div> -->
        </div>

        <div class="slider">
            <span>For More info, Contact: +91 97312 55177 | 90080 00166</span>
        </div>
    </section>
    <section class="facilities">
        <h1>GUEST LECTURES</h1>
        <p>Join us for an enlightening session with our esteemed guest lecturer</p>
        <div class="row">
            <div class="facilities-col" >
                <img src="image/Chandrashekar_Yavgal.jpeg" alt="" style="height: 350px;">
                <h3>Prof. Chandrashekar Yavgal- MD, PhD, FRCP, FIDSA</h3>
                <p>TOPIC : Harnessing the power of recent laser technology with clinical innovations.<br/> Are you ready for the quantum leap?</p>
            </div>
            <div class="facilities-col" >
                <img src="image/Deepak_Mehta.jpeg" alt="" style="height: 350px;">
                <h3> Dr. Deepak Mehta - BDS MDS PhD</h3>
                <p>TOPIC : Direct Posterior Composites - Clinical Essentials from start to finish</p>
            </div>
            <!-- <div class="facilities-col">
                <img src="image/hostel.jfif" alt="">
                <h3>Hostel</h3>
                <p>The hostel consists of a separate mess, administrative office, and warden quarters. In addition to well-furnished rooms.</p>
            </div>
        </div> -->
    </section>
<!-- pannel discussion -->
    <section class="course" id="course_call">
        <h1>PANEL DISCUSSION ON </h1>
        <p>Prospective Endeavours for Dental Professionals</p>
        <div class="row">
            <div class="course-col">
                <h2>Dr. Ranganath Venugopal <br/></h2>
                <p>  KSDC rules, regulations , procedure requirements   and legal aspects</p>
            </div>
            <div class="course-col">
                <h2> Dr. Girish Giraddi</h2>
                <p>  Opportunities in govt sector for getting 
                    into   jobs, getting grants and aids</p>
            </div>
            <div class="course-col">
                <h2>Dr. Srinidhi BSC CA & IT</h2>
                <p>Setting up a dental clinic from basic 
                    to   advanced   oral care</p>
            </div>
        </div>
        <div class="row">
            <div class="course-col">
                <h2>Dr. Veerendra Kumar SC  <br/></h2>
                <p> Technical Advances in implants, lasers, 
                    prosthesis and aesthetics in dentistry </p>
            </div>
            <div class="course-col">
                <h2>Dr. Sushil Agarwal </h2>
                <p>  Career placements for dentistry, after 
                    BDS in   India and overseas</p>
            </div>
            <div class="course-col">
                <h2>Dr. Sunil S Chiplunkar</h2>
                <p> Importance of industry - academia joint 
                    research projects</p>
            </div>
        </div>
    </section>
<!-- chief guests and guest of honor -->
    <section class="facilities">
        <h1>ESTEEMED GUESTS</h1>
        <div class="row">
            <div class="facilities-col">
                <img src="image/M_C_Sudhakar.jpeg" alt="" style="height: 350px;">
                <h3>Chief Guest - Dr. M.C. Sudhakar</h3>
                <p>Hon’ble Higher Education Minister, 
                   Govt. of Karnataka</p>
            </div>
            <div class="facilities-col">
                <img src="image/JAIKRISHNA.jpeg" alt="" style="height: 350px;">
                <h3>GUEST OF HONOUR - Dr. H.J. JAIKRISHNA</h3>
                <p>MDS, PGDMLE (NLSIU), FDS RCPS (Glasg).
                     Syndicate Member, 
                    Rajiv Gandhi University of Health Sciences</p>
            </div>
        </div>
    </section>

    <section class="conference-schedule">
        <h1>CONFERENCE SCHEDULE</h1>
        <div class="schedule-table">
            <div class="schedule-row">
                <div class="schedule-item">Inauguration</div>
            </div>
            <div class="schedule-row">
                <div class="schedule-item">1st Keynote Lecture</div>
            </div>
            <div class="schedule-row">
                <div class="schedule-item">Tea Break</div>
            </div>
            <div class="schedule-row">
                <div class="schedule-item">2nd Keynote Lecture</div>
            </div>
            <div class="schedule-row">
                <div class="schedule-item">Panel Discussions</div>
            </div>
            <div class="schedule-row">
                <div class="schedule-item">LUNCH</div>
            </div>
            <div class="schedule-row">
                <div class="schedule-item">Poster Presentations (E-Posters only)</div>
            </div>
        </div>
    </section>
    
    <!-- Organising committee -->
<section class="facilities">
    <h1>ORGANISING COMMMITTEE</h1>

        <!-- <div class="facilities-col">
            <img src="image/Annaji.jpeg" alt="" style="height: 350px;width: 350px;align-self: center;">
            <h3>Dr. A.G. Annaji </h3>
            <p> PRESIDENT <br/>IDA Bangalore Branch</p>
        </div> -->
        <div class="centered-content">
            <img src="image/Annaji.jpeg" alt="">
            <h3>Dr. A.G. Annaji</h3>
            <p>PRESIDENT <br/> IDA Bangalore Branch</p>
        </div>
        
    <div class="row">
        <div class="facilities-col">
            <img src="image/Vidhyasagar.jpeg" alt="" style="height: 350px;">
            <h3>Dr. D.V. Vidhyasagar</h3>
            <p> SECRETARY <br/>
                IDA Bangalore Branch</p>
        </div>
        <div class="facilities-col">
            <img src="image/Dhayakar.jpeg" alt="" style="height: 350px;">
            <h3>Dr. Dhayakar K.V. </h3>
            <p>TREASURER <br/>
                IDA Bangalore Branch</p>
        </div>
        <div class="facilities-col">
            <img src="image/Anirban_Chatterjee.jpeg" alt="" style="height: 350px;">
            <h3> Dr. Anirban Chatterjee </h3>
            <p>CONVENTOR</p>
        </div>
    </div>
    
</section>

    <section class="campus">
        <h1>Our Campus</h1>
        <div class="row">
            <div class="campus-col">
                <img src="image/cm1.jfif" alt="">
                <div class="layer">
                    <h3>Environment</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="image/cm2.jfif" alt="">
                <div class="layer">
                    <h3>Community</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="image/cm3.jfif" alt="">
                <div class="layer">
                    <h3>Education</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="facilities">
        <h1>Our Facilities</h1>
        <p>Facilities provided for Students by Gokul Global University</p>
        <div class="row">
            <div class="facilities-col">
                <img src="image/canteen.jfif" alt="">
                <h3>Canteen</h3>
                <p>The objective of the Canteen and meal service is to protect by reducing the risk of foodborne illness, with proper sanitary conditions.</p>
            </div>
            <div class="facilities-col">
                <img src="image/auditorium.jfif" alt="">
                <h3>Auditorium</h3>
                <p>The college is having a huge indoor auditorium with a professionally-deployed acoustic system and a seating capacity of about 200 people.</p>
            </div>
            <div class="facilities-col">
                <img src="image/hostel.jfif" alt="">
                <h3>Hostel</h3>
                <p>The hostel consists of a separate mess, administrative office, and warden quarters. In addition to well-furnished rooms.</p>
            </div>
        </div>
    </section>

    <section class="ctn">
        <h1>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
    </section>

    <section class="footer">
        <h4>About Us</h4>
        <p>VS Dental College is a premier dental institution in Bengaluru, offering comprehensive education and state-of-the-art facilities for aspiring dental professionals. Known for its distinguished faculty and cutting-edge research, 
            the college is dedicated to excellence in dental care and innovation.</p>
    </section>

    

    <script src="javascript/main_script.js"></script>
</body>
</html>
